 header
        {
             width: 100%;
             background-color: black;
             height: 170px;
        }
         @media only screen and (min-width: 481px)
         {
             header
             {
                 height: 300px;
             }
         }
        #logo
        {
            float: left;
            max-width: 480px;
            height: 100px;
            margin: 10px;
        }
         @media only screen and (min-width: 481px){
        #logo 
        {
         float: left;
         margin: 30px 0px 0px 280px;
         max-width: 960px;
         height: 200px;   
        }}
         @media only screen and (min-width: 481px)
        {
        #list, #form, #table, #top-menu
        {
         max-width: 960px;
         margin: 0 auto;
        }
        }
        #k1, #k2, #k3
        {
         text-align: center;
        }
        .title{
         color: pink;
         font-size: 25px;
         padding-top: 130px;
         text-align: center;
        }  
        @media only screen and (min-width: 481px) {
            .title
            {
                font-size: 40px;
            }
        }
        h1 
        {
         margin: 0 auto;
         color: gray;
         font-size: 200%;
         text-align: center;
         border: 1px solid black;
         background: pink;
         width: 100%;
        }
        @media only screen and (min-width: 481px)
        {
            h1{
           width: 960px; 
            }
        }
        table
        {
         width: 100%; 
         height: 300px; 
         border-collapse: collapse;   
        }
        @media only screen and (min-width: 481px){
        table 
        {
         width: 600px; 
         height: 500px; 
        }}
        th, td {border: 1px solid black;}
        tr:nth-child(2n) {background: #e8edff;} 
        footer.foot
        {
         border: 1px solid black;
         background: black;
         color: gray;
         width: 100%;
         height: 130px;
        }
        @media only screen and (max-width : 480px){
        .wrap
        {
              display: flex;
              flex-flow: column wrap;
        }
         #table {
             order: 2;
         }
           #form {
              order: 1;
         }
        }
        @media only screen and (min-width: 481px)
        {
            .container
        {
         display: flex;
         flex-direction: row;
        }
        .element
        {
            flex: 0.01 auto;
        }
        }